/* CSS Styles */

@import url(//fonts.googleapis.com/css?family=Poppins:400,400italic,700,700italic);

body{
	font-family: 'Poppins', sans-serif;
}

.admin { display: none !important; }
.error, .required { border-color: #a94442; }
.valid { border-color: #3c763d; }
.nav-tabs, .nav-pills { margin-bottom: 10px; }
.nav-tabs>li, .nav-pills>li {
	float: none;
	display: inline-block;
	*display: inline; /* ie7 fix */
	zoom: 1; /* hasLayout ie7 trigger */
}
.nav-tabs, .nav-pills { text-align: center; }

@media only screen and (max-width: 760px) {
	img.top-logo { width: 77%; }
	div.swab_details_filter { display: none; }
	table.swab_details { display: none; }
}

@media only screen and (max-width: 550px) {
	img.top-logo { width: 82%; }
	div.swab_details_filter { display: none; }
	table.swab_details { display: none; }
}

a { color: #7b33b5; }
a:focus, a:hover { color: #512178; }

.panel-primary {
    border-color: #7b33b5;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #7b33b5;
    border-color: #7b33b5;
}

.btn-primary {
    color: #fff;
    background-color: #7b33b5;
    border-color: #6c2ba1;
}

.btn-primary:hover {
    color: #fff;
    background-color: #512178;
    border-color: #35154f;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #7b33b5;
    border-color: #7b33b5;
}